@use '../abstracts' as *;

.image-container {
  display: flex;
  width: 400px;
  height: 400px;

  img {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: $bp-tablet) {
  .image-container {
    width: 300px;
    height: 300px;

    img {
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  .image-container {
    width: 250px;
    height: 250px;

    img {
      width: 250px;
      height: 250px;
    }
  }
}
