$ff-sans-serif: 'Poppins', sans-serif;

$fs-heading: 3rem;
$fs-logo: 2rem;
$fs-subheading: 1.75rem;
$fs-card-heading: 1.5rem;
$fs-link: 1.5rem;
$fs-skill-heading: 1.125rem;
$fs-body: 1rem;
$fs-button: 0.875rem;
$fs-error: 0.75rem;

$fs-mobile-heading: 2rem;
$fs-mobile-logo: 1.5rem;
$fs-mobile-subheading: 1.25rem;
$fs-mobile-card-heading: 1.25rem;

$fw-regular: 400;
$fw-semi-bold: 600;
