@use '../abstracts' as *;

#contact {
  .info-container {
    align-items: flex-start;
    text-align: left;

    .cta {
      font-size: $fs-card-heading;
      color: $clr-gray-400;
      font-weight: $fw-semi-bold;
    }

    h4 {
      font-size: $fs-heading;

      & + p {
        margin-top: 0.5rem;
      }
    }

    .card-container {
      justify-content: flex-start;
      margin-top: 1rem;

      .card {
        flex-direction: row;
        gap: 1rem;
        flex: none;

        .icon-container {
          margin: 0;
          padding: 0.75rem;
          justify-content: center;
          align-self: center;
          background-color: $clr-gray-100;
          border: 1px solid $clr-gray-200;
          border-radius: 0.5rem;

          i {
            color: $clr-gray-400;
          }
        }

        .info-container {
          gap: 0;

          .mail {
            color: $clr-mail;
            font-size: $fs-body;
          }
        }
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    border: 1px solid $clr-gray-200;
    border-radius: 2rem;

    p {
      font-size: $fs-card-heading;
      font-weight: $fw-semi-bold;
    }

    input,
    textarea {
      font-family: inherit;
      padding: 0.75rem;
      background-color: $clr-gray-100;
      border: 1px solid $clr-gray-200;
      border-radius: 0.375rem;
    }

    button {
      width: fit-content;
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  #contact {
    .info-container {
      display: none;
    }
  }
}
