@use '../abstracts' as *;

#projects {
  .card {
    gap: 1rem;
    max-width: 320px;

    .image-container {
      width: 50%;
      max-width: 100px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: $bp-tablet) {
  #projects {
    .card-container {
      flex-wrap: wrap;
    }
  }
}
