@use '../abstracts' as *;

@media screen and (max-width: $bp-tablet) {
  #video {
    .section-container {
      flex-direction: column;
      gap: 2rem;

      iframe {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: $bp-mobile) {
  #video {
    .section-container {
      iframe {
        width: 90%;
      }
    }
  }
}
