@use '../abstracts/' as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $ff-sans-serif;
  font-weight: $fw-regular;
  font-size: $fs-body;
  color: $clr-gray-500;
  padding: 0 10rem;
}

p {
  line-height: 1.5;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding-top: 2.5rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

@media screen and (max-width: $bp-tablet) {
  body {
    padding: 0 5rem;
  }

  section {
    height: fit-content;
    padding-top: 5rem;
  }
}

@media screen and (max-width: $bp-mobile) {
  body {
    padding: 0 2rem;
  }
}
